server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  application:
    name: buildpcchecker
  datasource:
    url: jdbc:mysql://localhost:3306/identity_service
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: lookatwidget@gmail.com  # Thay bằng email của bạn
    password: yygjtzpdjueh msmr      # Thay bằng App Password của Gmail
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

app:
  base-url: http://localhost:8080/identity  # URL base của ứng dụng
  openapi:
    dev-url: http://localhost:8080

jwt:
  signerKey: "ef251fc07ebf85497bf3b3e3c558386a22756bacb907d9e08d345bfe269ede05"
  valid-duration: 300 # in seconds
  refreshable-duration: 1200 # seconds

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
    display-request-duration: true
  show-actuator: false
